/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Karla');
/* Import Bootstrap Modules */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  background: white;

  &.background {
    height: 100%;

    main {
      margin: 0 !important;
      height: 100%;

      .container {
        height: 100%;
      }
    }
  }
}

main {
  margin-left: $main-menu-width + $main-margin;
  margin-top: $navbar-height + $main-margin - 120;
  margin-right: $main-margin;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Rubik, sans-serif;
}

.sidebar {
  height: 100%;
  width: $main-menu-width;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 6; /* Stay on top */
  top: 0; /* Stay at the top */
  bottom: 0;
  left: 0;
  background-color: $background-color;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;

  @include respond-below(xl) {
    width: $main-menu-width-lg;
    //height: calc(100% - #{$navbar-height-lg});
  }

  @include respond-below(lg) {
    width: $main-menu-width-md;
    //height: calc(100% - #{$navbar-height-md});
  }

  @include respond-below(sm) {
    width: $main-menu-width-xs;
    //height: calc(100% - #{$navbar-height-xs});
  }

  .logo-placeholder {
    width: 100px;
    padding-left: 40px;
    margin-bottom: 40px;
  }

  a {
    color: #000;
    padding: 5px 5px 15px 40px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    display: block;
  }
}

.navbar {
  height: $navbar-height;
  width: calc(100% - #{$main-menu-width});
  position: fixed;
  padding: 1.5rem;
  right: 0px;
  top: 0px;
}


.breadcrumb-container {
  .breadcrumb {
    background-color: transparent;
    margin-bottom: 0.5rem;
    @include respond-below(md) {
      padding: 0;
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: "|";
  }
}

.header {
  margin-bottom: 40px;
}

.panel {
  border: none;

  .header {

  }


  .body {
    padding: 30px;
    border-radius: 20px;
    background-color: $background-color;
  }
}

.image {
  margin: 0 auto;
  width: 30%;
  display: block;
  padding: 20px
}

.button {
  border: none;
  color: white;
}

.button--state-upgrade {
  background-color: #44D7B6;
}



