$background-color: #f8f8f8;

$navbar-height: 100px;
$navbar-height-xs: 70px;
$navbar-height-md: 80px;
$navbar-height-lg: 90px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$main-menu-width: 240px;
$main-menu-width-lg: 220px;
$main-menu-width-md: 200px;
$main-menu-width-xs: 180px;

@import "./_mixins.scss";
@import "./_style.scss";
