<template>
  <div class="sidebar">
    <img src="../assets/logo.png" class="logo-placeholder">
    <ul class="list-unstyled">
      <li>
        <a href="#">
          Base
          <b-badge variant="danger">2</b-badge>
        </a>
      </li>
      <li>
        <a href="#">Search Jobs</a>
      </li>
      <li>
        <a href="#">Devices</a>
      </li>
      <li>
        <a href="#">Whitelist</a>
      </li>
    </ul>
  </div>
</template>

<script>
    export default {
        name: "Sidebar"
    }
</script>

<style scoped>

</style>
