<template>
    <b-navbar toggleable="lg" type="dark" class="main-navbar">

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto" right>

        <b-button class="button button--state-upgrade my-3 mr-4">Upgrade to Premium</b-button>

        <b-nav-item-dropdown right>
          <template slot="button-content">
            <b-img v-bind="mainProps" rounded="circle" alt="Circle image"></b-img>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
</template>

<script>
  export default {
    name: "TopNav",
    data() {
      return {
        mainProps: {blank: true, blankColor: '#777', width: 50, height: 50, class: 'm1'}
      }
    }
  }
</script>

<style scoped>

</style>
