<template>
  <div>
    <b-row class="header">
      <b-colxx xxs="12">
        <head-breadcrumb :heading="'Contract Base'"/>
      </b-colxx>
    </b-row>
    <b-row class="py-3">
      <b-colxx xxs="12">
        <h4>My upcoming and recent jobs</h4>
        <div class="card panel">
          <div class="card-body body">
            <img class="image" src="@/assets/images/empty.svg">
          </div>
        </div>
      </b-colxx>
    </b-row>
    <b-row class="py-5">
      <b-colxx xxs="12">
        <h4>My enrollments</h4>
        <div class="card ">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>
      </b-colxx>
    </b-row>
  </div>
</template>

<script>
  export default {
    name: 'Base',
  }
</script>

<style scoped>

</style>
