<template>
    <span>
      <h2 v-if="heading && heading.length>0">{{ heading }}</h2>
      <!--<b-nav v-if="items.length > 0" class="pt-0 breadcrumb-container">-->
          <!--<b-breadcrumb :items="items"/>-->
      <!--</b-nav>-->
    </span>
</template>


<script>
  export default {
    props: ["heading"],
    data() {
      return {
        items: []
      };
    },
    methods: {
      getUrl(path, sub, index) {
        return "/" + path.split(sub)[0] + sub;
      }
    },
    mounted() {
      let path = this.$route.path.substr(1);
      let rawPaths = path.split("/");

      for(var pName in this.$route.params) {
        if(rawPaths.includes(this.$route.params[pName])){
          rawPaths= rawPaths.filter(x=>x!=this.$route.params[pName]);
        }
      }

      rawPaths.map((sub, index) => {
        this.items.push({
          text: sub.charAt(0).toUpperCase() + sub.slice(1),
          to: this.getUrl(path, sub, index)
        });
      });
    }
  };
</script>
