<template>
  <div class="h-100">
    <sidebar/>
    <top-nav/>
    <main>
      <div class="container-fluid">
        <router-view/>
      </div>
    </main>
  </div>
</template>

<script>
  import Sidebar from "./containers/Sidebar";
  import TopNav from "./containers/TopNav";

export default {
  name: 'App',
  components: {
    Sidebar,
    TopNav

  },
}
</script>

<style>

</style>
